
   #footer{
display: block;
width: 1000px;
height: 300px;
background: skyblue;
}
#footer h2{
	clear: left;
	text-align: left;
	font-size: 20px;
}
#footer .footer_left{
	width: 750px;
	height: 300px;
}
#footer .footer_left footer address h2{
	font-size: 25px;
	clear: left;
    margin: -40px;
	padding: 0px;
	color: black;
}
#main #right .menu_right  img{
	width: 250px;
	height: 537px;
}
#footer .footer_right{
	width: 250px;
	height: 300px;
}
#footer_right img{
	width: 40px;
	height: 40px;
	clear: right;
	margin-right: 20px;
	padding: 0px;
	float: right;


}