#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: black;
}
@media all and (max-width: 900px) {
  #header {
    flex-direction: column;
  }
}
article {
  display: grid;
  grid-template-columns: 1fr 200px 10px minmax(320px, 640px) 10px 200px 1fr;
}
article > * {
  grid-column: 4 / -4;
}
article > figure {
  grid-column: 1 / -1;
}
#main article > footer {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}