<!DOCTYPE html>
<html>
    <head>
	     <title>HUYNH TAN PHUOC</title>
	      <meta charset="utf-8">
    </head>
    <body>
    <table border="1">
        <tr>
            <th>Logo</th>
            <td colspan="4" align="CENTER" >BANNER</td>
        </tr>
        <tr>
        	<td>HOME</td>
        	<td>INTRODUCTION</td>
        	<td>EDUCATION</td>
        	<td>NEW</td>
        	<td > REGISTER</td>
        </tr>
        <tr>
        	<td>Introduction</td>
        </tr>
        <tr>
        <td>>>|General</td>

        </tr>
        <tr>
        <td>>>|Human Resoures</td>
        </tr>
        <tr>
        <td>>>|ACCP</td>
        </tr>
        <tr>
        <td>>>|ACNA</td>
    
        <tr>
        <td>>>|ACNA</td>
 
        <tr>
        <td>>>|TTT</td>
        </tr>
        